Django==1.9
django-bower==5.1.0
django-ckeditor==5.0.3
django-colorful==1.1.0
django-crispy-forms==1.6.0
django-debug-toolbar==1.4
django-floppyforms==1.6.1
docutils==0.12
oauthlib==1.0.3
Pillow==3.1.1
psycopg2==2.6.1
PyJWT==1.4.0
python-openid==2.2.5
python-social-auth==0.2.14
requests==2.9.1
requests-oauthlib==0.6.1
simplejson==3.8.2
six==1.10.0
sqlparse==0.1.19
uWSGI==2.0.12
