{% extends "admin/guardian/model/change_form.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
<style>
    .errorlist li{
        color: white;
        background-color: red;
        font-size: 1.15em;
        font-weight: bold;
    }
</style>
    <script>
        function popupView(loc){
        window.open(loc, "name", "width=1000,height=850");
        }
    </script>
    {% url opts|admin_urlname:'permissions' original.pk|admin_urlquote as history_url %}
    <li><a href="{% add_preserved_filters history_url %}" class="permissionslink">{% trans "Object permissions" %}</a></li>
    <li>
        <a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}
        <li>
            <a target="popup" href="#" onclick=popupView("{% url 'admin:view_on_site' content_type_id original.pk %}"); class="historylink">{% trans "View on Site" %}</a>
        </li>
    {% endif %}
<script>


    $(document).ready(function(){
        var elements = $(".inline-related.dynamic-field_templates");
        for (var i=0; i<elements.length; i++){

            var fieldTypeEl = $(elements[i]).find("div.field-box.field-field_type");
            var fieldTypeVal = $(fieldTypeEl).find("select").val();

            if (fieldTypeVal !== "radio" && fieldTypeVal !== "select"){

                var choices = $(elements[i]).find("div.inline-group.field_templates-nested-inline");
                $(choices).hide();
            }
        }

    });


</script>
{% endblock %}
