{% extends "base_form.html" %}
{% load static %}
{% block header_css_scripts %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js'></script>
<style>



    #clickable:hover {
        cursor: pointer;
    }

    .dz-filename {
        font-weight: bold;
        margin-top: 45px;
    }

    .dz-error-message {
        margin-top: 20px;
    }

    .dz-remove {
        margin-top: 5px;
        font-weight: bold;
    }

    a.dz-remove.btn.btn-danger:hover {
        text-decoration: none;
    }

    #dz-preview-div {

        margin: 0px;
        padding: 0px;
    }

    .dropzone .dz-preview .dz-image-preview {
        background-color: {{ form.helper.background_color }};
    }

</style>
{% endblock %}

{% block scripts %}
<input type="hidden" id="dzMaxFiles" value='{{ form.maxfiles_dropzone }}' />
<script src="{% static 'js/lib/fb/fb-dropzone.js' %}"></script>
{% endblock %}
