{% extends "base_form.html" %}
{% load static %}
{% block header_css_scripts %}


{% endblock %}
{% block scripts %}
<script>


    fb.$form.on({
        "recaptcha:success": function(event){

            //fb.$submit.removeAttr("disabled");

            console.log("recaptcha:success triggered");

            fb.$form.unbind("submit");
            fb.$submit.trigger("click");
            fb.spinner.stop();
            fb.$popup.close();
            fb.$submit.attr("disabled","true");
            setTimeout(function(){ fb.$submit.removeAttr("disabled")}, 500);
        },
        "recaptcha:fail": function(event, response){
            console.log("recaptcha:fail triggered");

            var errors = response["error-codes"];

            for (var i=0; i< errors.length; i++){

                console.log(errors[i]);
                if (errors[i] === "missing-input-response"){

                    errors[i] = "The reCaptcha box is not checked!";
                }
                var message = "reCaptcha Error: " + errors[i];

                fb.displayError(message);

            }

            fb.spinner.stop();
            fb.$popup.close();
        }
    });

</script>
{% endblock %}
