{% extends "base_form.html" %}
{% block header_css_scripts %}


{% endblock %}
{% block scripts %}
<script>

    $(".accordion-toggle").addClass("collapsed").attr("aria-expanded","false").
        append(" <span class='accordion-glyph glyphicon glyphicon-chevron-up'></span>").
            click(function(){
                var $span  = $(this).firstElementChild;

    });
    $(".panel-collapse.collapse.in").removeClass("in").attr("aria-expanded","false");



</script>


{% endblock %}
