<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Custom Forms</title>
    <meta name="description" content="Custom Forms">
    <meta name="Sean Fallmann" content="FormDeployment">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js'></script>



  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<style>

    form * {

        font-family: 'Noto Sans', sans-serif
    }

    label {
        font-size: 1.05em;
    }

    /*

    form {
        min-width: 350px;
        border: 2px;
        border-radius: 5px;
        border-style: solid;
        padding: 10px;
        background-color: #fdf6ee;
    }


    form, form * {
        background-color: {{ form.helper.background_color }};
        color: {{ form.helper.text_color }};
    }

*/

</style>
<body >
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ header }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% load crispy_forms_tags %}
                {% crispy form form.helper %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ footer }}
            </div>
        </div>
    </div>
    <br/>

</body>

<script>
    $(window).load(function() {
        console.log("Form resetting!");
        $('form').get(0).reset(); //clear form data on page load
    });

    //Dropzone.autoDiscover = false;

    if (window.File && window.FileReader && window.FileList && window.Blob) {
  // Great success! All the File APIs are supported.
    } else {
      alert('The File APIs are not fully supported in this browser.');
    }

    if ($("div").hasClass("add-dz")){

        var formAction = $("#xform").attr("action");

        $("#xform").addClass("dropzone");

        Dropzone.options.xform = {
            maxFilesize: 5,
            addRemoveLinks: true,
            autoProcessQueue: false,
            uploadMultiple: true,
            parallelUploads: true,
            clickable: '.clicker',
            dictResponseError: 'Server not Configured',
            acceptedFiles: ".png,.jpg,.gif,.bmp,.jpeg",
            headers: {
                'X-CSRF-Token': '{{ csrf_token }}'
            },
            init: function(){
                    var self = this;
                    // config
                    self.on("error", function(file){ alert("error!");});
                    self.options.addRemoveLinks = true;
                    self.options.dictRemoveFile = "Delete";
                    //New file added
                    self.on("addedfile", function (file) {
                    console.log('new file added ', file);
                    });
                    // Send file starts
                    self.on("sending", function (file) {
                    console.log('upload started', file);
                    $('.meter').show();
                    });

                    // File upload Progress
                    self.on("totaluploadprogress", function (progress) {
                    console.log("progress ", progress);
                    $('.roller').width(progress + '%');
                    });

                    self.on("queuecomplete", function (progress) {
                    $('.meter').delay(999).slideUp(999);
                    });

                    // On removing file
                    self.on("removedfile", function (file) {
                    console.log(file);
                    });

                    $('#submit-id-submit').click(function(e){
                        e.stopPropagation();
                        e.preventDefault();

                        self.processQueue();
                    });


                }
        };



    }





</script>

</html>
