
{% if user and not user.is_anonymous %}
  <a>Hello, {{ user.get_full_name }}!</a>
  <br>
	{% if user.is_superuser %}
  <a href="/admin">Admin Panel</a>
	{% endif %}
	<br>
  <a href="/logout">Logout</a>
{% else %}
<br>
<br>
  <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
<br>
<br>
<a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" id="LoginWithTwitter">
  <img src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" alt="Sign in with Twitter">
</a>
{% endif %}
